<div id="<%= dom_id product %>">
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

  <td class="image">
    <% if product.images.empty? %>
      <%= image_tag(product.image_url, class: 'list_image') %>
    <% elsif rendered_on_index %>
      <%= image_tag(url_for(product.images[0]), class: 'list_image') %>
    <% else %>
      <%= render 'image_slider', images: product.images %>
    <% end %>
  </td>

  <td class="description">
    <h1><%= product.title %></h1>
    <% if rendered_on_index %>
      <p>
        <%= truncate(strip_tags(product.description),
                      length: 80) %>
      </p>
    <% else %>
      <p>
        <%= strip_tags(product.description) %>
      </p>
    <% end %>
  </td>

  <% if rendered_on_index %>
    <td class="actions">
      <ul>
        <li><%= link_to 'Show', product %></li>
        <li><%= link_to 'Edit', edit_product_path(product) %></li>
        <li>
          <%= link_to 'Destroy',
                        product,
                        method: :delete,
                      data: { 
                        turbo_confirm: 'Are you sure?'
                      } %>
        </li>
      </ul>
    </td>
  <% end %>
</tr>

</div>
