<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
</head>
<body>
  <header class="main">
    <aside>
      <%= form_tag store_index_path, class: 'locale' do %>
        <%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
        <%= submit_tag 'submit', id: "submit_locale_change" %>
      <% end %>
    </aside>
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
        <h1 style="color: white"><%= yield :title %></h1>
      </nav>
      <%= yield %>
    </section>
</body>
</html>